@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  background-color: #FCF6F3;
}

nav {
  background: #1D3A55;
  height: 10vh;
  width: 100%;
  z-index: 10;
  position: fixed;
}

nav .logo {
  margin-left: 10%;
  cursor: pointer;
  font-size: 2em;
  font-weight: 700;
  line-height: 10vh;
  color: #EE6352;
  text-decoration: none;
}

nav .nav-links {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 100%;
  background-color: #1D3A55;
  text-align: center;
  list-style: none;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

nav .nav-links li {
  display: block;
}

nav .nav-links li a {
  display: block;
  color: #FCF6F3;
  background: #EE6352;
  font-size: 1em;
  font-weight: 700;
  margin: 3em 20%;
  line-height: 3em;
  text-decoration: none;
  border-radius: .25em;
}

nav .nav-links li a:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
  -webkit-transition: .5s;
  transition: .5s;
}

nav #btn-hamburger {
  font-size: 2em;
  color: #FCF6F3;
  float: right;
  line-height: 10vh;
  margin-right: 10%;
  cursor: pointer;
}

nav label#btn-hamburger {
  display: block;
}

nav #hamburger {
  display: none;
}

nav #hamburger:checked ~ .nav-links {
  left: 0;
}

main {
  padding-top: 10vh;
}

.page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  min-height: 90vh;
  padding: 10%;
}

.page ul {
  list-style: none;
}

.page a {
  text-decoration: none;
}

.page mark {
  background: none;
  color: #EE6352;
}

.page .btn {
  display: block;
  cursor: pointer;
  font-weight: 700;
  font-size: 1em;
  text-decoration: none;
  text-align: center;
  border-radius: .5em;
}

.page .btn:hover {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
  -webkit-transition: .5s;
  transition: .5s;
}

.about {
  color: #071013;
}

.about h1 {
  font-size: 2em;
}

.about h2 {
  padding-top: 1em;
  font-size: 1em;
}

.about p {
  display: none;
}

.about .btn-hireme {
  background-color: #EE6352;
  color: #FCF6F3;
  margin: 2em 0 0;
  width: 10em;
  height: 3.5em;
  line-height: 3.5em;
}

.about .benefits-wrapper {
  margin-top: 2em;
}

.about .benefits-wrapper h1 {
  font-size: 1.25em;
}

.about .benefits-wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .benefits-wrapper ul li {
  text-align: center;
  padding: 0 1em 0 1em;
  max-width: 100%;
}

.about .benefits-wrapper ul li p {
  display: none;
}

.about .benefits-wrapper ul li i {
  font-size: 3em;
  padding: .8em 0;
}

.about .benefits-wrapper ul li i#benefit-1 {
  color: #EE6352;
}

.about .benefits-wrapper ul li i#benefit-2 {
  color: #1D3A55;
}

.about .benefits-wrapper ul li i#benefit-3 {
  color: #89D2DC;
}

.projects {
  background-color: #071013;
  color: #FCF6F3;
}

.projects h1 {
  font-size: 2em;
  padding: 0 0 1em;
}

.projects .card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects .card-wrapper .card {
  background: #F9ECE6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1em;
  max-width: 300px;
  min-width: 250px;
  width: 80vw;
  height: 25em;
  padding: 0 2em;
  margin: 2em 0;
}

.projects .card-wrapper .card .btn {
  padding: 1rem 2rem;
  border-radius: .5em;
  margin: .5rem 0;
  width: 15em;
  color: #FCF6F3;
  background: #EE6352;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
}

.projects .card-wrapper .card .btn:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
  -webkit-transition: .5s;
  transition: .5s;
}

.projects .card-wrapper .card h1 {
  font-size: 2em;
  color: #071013;
}

.projects .card-wrapper .card p {
  font-size: 1em;
  margin: 1em 0;
  width: 15em;
  font-style: italic;
  text-align: center;
  color: #071013;
}

.contact {
  color: #071013;
}

.contact .contact-wrapper .form-area {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .contact-wrapper .form-area .contact-text {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.contact .contact-wrapper .form-area .contact-text h1 {
  font-size: 2em;
  color: #EE6352;
}

.contact .contact-wrapper .form-area .contact-text h2 {
  font-size: 1em;
  padding-top: 1em;
}

.contact .contact-wrapper .form-area .form-text .field {
  width: 100%;
  position: relative;
  margin: 2em auto 1em;
  background-color: #F9ECE6;
}

.contact .contact-wrapper .form-area .form-text .fieldtext .label {
  position: absolute;
  -webkit-transform: scale(0.8) translateY(0rem);
          transform: scale(0.8) translateY(0rem);
}

.contact .contact-wrapper .form-area .form-text .label {
  font-size: 1.125em;
  color: #89D2DC;
  z-index: 1;
  display: block;
  position: absolute;
  -webkit-transform: translateY(-1.9rem);
          transform: translateY(-1.9rem);
  -webkit-transform-origin: 0%;
          transform-origin: 0%;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.contact .contact-wrapper .form-area .form-text .field:focus-within .label, .contact .contact-wrapper .form-area .form-text .input:not(:placeholder-shown) + .label {
  -webkit-transform: scale(0.8) translateY(-4em);
          transform: scale(0.8) translateY(-4em);
}

.contact .contact-wrapper .form-area .form-text .input {
  outline: none;
  border: none;
  border-bottom: 2px solid #EE6352;
  overflow: hidden;
  margin: 0;
  width: 100%;
  padding: .25em 0;
  background: none;
  font-family: 'Manrope', sans-serif;
  color: #071013;
  font-size: 1em;
  font-weight: 500;
}

.contact .contact-wrapper .form-area .form-text .input:valid {
  border-bottom: 2px solid yellowgreen;
}

.contact .contact-wrapper .form-area .form-text .input:invalid {
  border-bottom: 2px solid red;
}

.contact .contact-wrapper .form-area .form-text .input:focus, .contact .contact-wrapper .form-area .form-text .input:valid, .contact .contact-wrapper .form-area .form-text .input:invalid {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.contact .contact-wrapper .form-area .form-text textarea {
  border: none;
  border-bottom: 2px solid #EE6352;
  overflow: hidden;
  resize: none;
  margin: 2em auto 1em;
  width: 100%;
  height: 10em;
  background-color: #F9ECE6;
  font-family: 'Manrope', sans-serif;
  color: #071013;
  font-size: 1em;
  font-weight: 500;
}

.contact .contact-wrapper .form-area .form-text textarea:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.contact .contact-wrapper .form-area .form-text .btn-contact {
  padding: 1.25em 3em;
  margin-top: 2em;
  background-color: #EE6352;
  color: #FCF6F3;
  width: 100%;
  border: none;
}

footer {
  position: relative;
  height: 5vh;
  background-color: #1D3A55;
  color: #FCF6F3;
  font-size: 1em;
  font-weight: 500;
  text-align: center;
  line-height: 5vh;
}
/*# sourceMappingURL=style.css.map */