@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

// Variables
$colour-1: #FCF6F3;
$colour-2: #F9ECE6;
$colour-3: #071013;
$colour-4: #1D3A55;
$colour-5: #EE6352;
$colour-6: #89D2DC;

$colour-bg: $colour-1;
$colour-nav: $colour-4;
$colour-accent-1: $colour-5;
$colour-accent-2: $colour-6;

$colour-button-1: $colour-5;
$colour-button-2: $colour-6;

$colour-text-light: $colour-3;
$colour-text-dark: $colour-1;

$h1: 2em;
$h2: 1.5em;
$h3: 1.25em;
$h4: 1.125em;
$p: 1em;

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    background-color: $colour-1;
}

// Responsive navbar
nav {
    background: $colour-nav;
    height: 10vh;
    width: 100%;
    z-index: 10;
    position: fixed;

    .logo {
        margin-left: 10%;
        cursor: pointer;
        font-size: 2em;
        font-weight: 700;
        line-height: 10vh;
        color: $colour-accent-1;
        text-decoration: none;
    }

    .nav-links {
        position: fixed;
        width: 100%;
        height: 100vh;
        left: 100%;
        background-color: $colour-nav;
        text-align: center;
        list-style: none;
        transition: all .5s ease-out;

        li {
            display: block;

            a {
                display: block;
                color: $colour-text-dark;
                background: $colour-accent-1;
                font-size: $p;
                font-weight: 700;
                margin: 3em 20%;
                line-height: 3em;
                text-decoration: none;
                border-radius: .25em;

                &:hover {
                    filter: brightness(1.1);
                    transition: .5s;
                }
            }
        }
    }

    #btn-hamburger {
        font-size: 2em;
        color: $colour-text-dark;
        float: right;
        line-height: 10vh;
        margin-right: 10%;
        cursor: pointer;
    }
    label#btn-hamburger {
        display: block;
    }
    #hamburger {
        display: none;
    }
    #hamburger:checked ~ .nav-links {
        left: 0;
    }
}

main {
    padding-top: 10vh;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
}

.page {
    min-height: 90vh;
    padding: 10%;

    ul {
        list-style: none;
    }
    a {
        text-decoration: none;
    }
    mark {
        background: none;
        color: $colour-accent-1;
    }
    .btn {
        display: block;
        cursor: pointer;
        font-weight: 700;
        font-size: $p;
        text-decoration: none;
        text-align: center;
        border-radius: .5em;

        &:hover {
            filter: brightness(1.2);
            transition: .5s;
        }
    }
}

.about {
    color: $colour-text-light;
    
    h1 {
        font-size: $h1;
    }

    h2 {
        padding-top: 1em;
        font-size: $p;
    }

    p {
        display: none;
    }

    .btn-hireme {
        background-color: $colour-button-1;
        color: $colour-text-dark;
        margin: 2em 0 0;
        width: 10em;
        height: 3.5em;
        line-height: 3.5em;
    }

    .benefits-wrapper {
        margin-top: 2em;

        h1 {
            font-size: $h3;
        }
        
        ul {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            li {
                text-align: center;
                padding: 0 1em 0 1em;
                max-width: 100%;

                p {
                    display: none;
                }

                i {
                    font-size: 3em;
                    padding: .8em 0;

                    &#benefit-1 {
                        color: $colour-5;
                    }
                    &#benefit-2 {
                        color: $colour-4;
                    }
                    &#benefit-3 {
                        color: $colour-6;
                    }
                }
            }
        }
    }
}
.projects {
    background-color: $colour-3;
    color: $colour-text-dark;

    h1 {
        font-size: $h1;
        padding: 0 0 1em;
    }

    .card-wrapper {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        align-content: center;
        flex-direction: column;
    
        .card {
            background: $colour-2;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 1em;
            max-width: 300px;
            min-width: 250px;
            width: 80vw;
            height: 25em;
            padding: 0 2em;
            margin: 2em 0;
    
            .btn {
                padding: 1rem 2rem;
                border-radius: .5em;
                margin: .5rem 0;
                width: 15em;
                color: $colour-text-dark;
                background: $colour-button-1;
                font-size: $p;
                font-weight: bold;
                text-decoration: none;
    
                &:hover {
                    filter: brightness(1.1);
                    transition: .5s;
                }
            }
    
            h1 {
                font-size: 2em;
                color: $colour-text-light;
            }
            p {
                font-size: 1em;
                margin: 1em 0;
                width: 15em;
                font-style: italic;
                text-align: center;
                color: $colour-text-light;
            }
        }
    }    
}
.contact {
    color: $colour-text-light;

    .contact-wrapper {
        .form-area {
            width: 100%;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            flex-direction: column;

            .contact-text {
                flex-basis: 30%;
                align-self: center;

                h1 {
                    font-size: $h1;
                    color: $colour-5;
                }
                h2 {
                    font-size: $p;
                    padding-top: 1em;
                }
            }
            .form-text {
                .field {
                    width: 100%;
                    position: relative;
                    margin: 2em auto 1em;
                    background-color: $colour-2;
                }
                .fieldtext .label {
                    position: absolute;
                    transform: scale(0.8) translateY(0rem);
                }
                .label {
                    font-size: $h4;
                    color: $colour-accent-2;
                    z-index: 1;
                    display: block;
                    position: absolute;
                    transform: translateY(-1.9rem);
                    transform-origin: 0%;
                    transition: transform .4s;
                }
                .field:focus-within .label, .input:not(:placeholder-shown) + .label {
                    transform: scale(0.8) translateY(-4em);
                }
                .input {
                    outline: none;
                    border: none;
                    border-bottom: 2px solid $colour-5;
                    overflow: hidden;
                    margin: 0;
                    width: 100%;
                    padding: .25em 0;
                    background: none;
                    font-family: 'Manrope', sans-serif;
                    color: $colour-text-light;
                    font-size: $p;
                    font-weight: 500;

                    &:valid {
                        border-bottom: 2px solid yellowgreen;
                    }
                    &:invalid {
                        border-bottom: 2px solid red;
                    }
                    &:focus, &:valid, &:invalid {
                        -webkit-box-shadow: none;
                        box-shadow: none;
                    }
                }
                textarea {
                    border: none;
                    border-bottom: 2px solid $colour-5;
                    overflow: hidden;
                    resize: none;
                    margin: 2em auto 1em;
                    width: 100%;
                    height: 10em;
                    background-color: $colour-2;
                    font-family: 'Manrope', sans-serif;
                    color: $colour-text-light;
                    font-size: $p;
                    font-weight: 500;

                    &:focus {
                        -webkit-box-shadow: none;
                        box-shadow: none;
                        outline: none;
                    }
                }
                .btn-contact {
                    padding: 1.25em 3em;
                    margin-top: 2em;
                    background-color: $colour-button-1;
                    color: $colour-text-dark;
                    width: 100%;
                    border: none;
                }
            }
        }
    }
}

footer {
    position: relative;
    height: 5vh;
    background-color: $colour-nav;

    color: $colour-text-dark;
    font-size: $p;
    font-weight: 500;
    text-align: center;
    line-height: 5vh;
}