@import url('https://fonts.googleapis.com/css?family=Lato|Sacramento&display=swap');

// Variables
$body-color: #fff;

$color-1: #3A3434;
$color-2: #FF860D;
$color-3: #FF7F00;
$color-4: #EDDED0;
$color-5: #6F9AAA;
$color-6: #3A606E;

$main-color: #eee;
$accent-color: $color-2;

$button1-color: $color-6;
$button1-color-active: $color-5;

$button2-color: #2c3e51;
$button2-color-active: #3f5974;

$light-text-color: $color-1;
$dark-text-color: #fff;

$h1: 3.5em;
$h2: 2em;
$h3: 1.5em;
$p: 1em;

*, *::before, *::after {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    background: $body-color;
    overflow-y: scroll;
}

// Responsive navbar

nav {
    background: $main-color;
    height: 5em;
    width: 100%;
    z-index: 10;

    a.logo {
        text-decoration: none;
        color: $accent-color;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 2em;
        line-height: 2.5em;
        padding-left: 5em;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
    }
    #projects-btn {
        opacity: 0;
        text-decoration: none;
        color: $dark-text-color;
        font-size: 1em;
        text-transform: uppercase;
        float: right;
        margin: 1.49em 1em;
        padding: .5em;
        border-radius: 5px;
        background: $button1-color;
        cursor: pointer;

        &:hover {
            background: $button1-color-active;
            transition: .5s;
        }
    }

    ul {
        list-style: none;
        box-sizing: border-box;
        float: right;
        margin-right: 10em;

        li {
            display: inline-block;
            line-height: 5em;
            margin: 0 .5em;

            a {
                text-decoration: none;
                color: $light-text-color;
                font-size: 1em;
                text-transform: uppercase;
                padding: .5em 1em;
                border-radius: 5px;

                &.active, &:hover {
                    background: $button1-color;
                    color: $dark-text-color;
                    transition: .5s;
                }
            }
        }
    }

    .check-btn {
        font-size: 2em;
        color: $light-text-color;
        float: right;
        line-height: 2.5em;
        margin-right: 1.5em;
        cursor: pointer;
        display: none;
    }
    #check {
        display: none;
    }
}

// Home content

.hero {
    position: relative;
    background-image: url('/src/laptop-coder-splash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
}
.hero-inner {
    color: $dark-text-color;
    padding: 10em 10em 10em 10em;

    h1 {
        font-size: $h1;

        & span#carousel-1::before {
            content: '';
            color: $accent-color;
            animation: animation-1 10s linear infinite;
        }
        @keyframes animation-1 {
            0%, 100%{ content: "robust "; }
            20%{ content: "secure "; }
            40%{ content: "quick "; }
            60%{ content: "advanced "; }
            80%{ content: "efficient "; }
        }
        & span#carousel-2::before {
            content: '';
            color: $dark-text-color;
            animation: animation-2 10s linear infinite;
        }
        @keyframes animation-2 {
            0%, 100%{ content: "platforms."; }
            20%{ content: "systems."; }
            40%{ content: "codebases."; }
            60%{ content: "software."; }
            80%{ content: "code."; }
        }
    }
    h3 {
        font-size: $h3;
        padding-top: .5em;
    }
    p {
        font-size: $p;
        padding-top: 1em;
    }
    .btn {
        padding: 1.25rem 3rem;
        margin-top: 2.875rem;
        position: absolute;
        border-radius: 10px;
        text-transform: uppercase;
        color: $dark-text-color;
        background: $button1-color;
        cursor: pointer;
        font-size: 1rem;
        text-decoration: none;
        text-align: center;

        &:hover {
            background: $button1-color-active;
            transition: .5s;
        }
    }
}

.benefits {
    padding: 8em 10em 5em 10em;
    color: $light-text-color;

    ul {
        list-style: none;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        li {
            text-align: center;
            padding: 0 1em 0 1em;
            max-width: 30%;

            i {
                font-size: 5em;
                padding: 1rem 0 1rem 0;

                &#benefit-1 {
                    color: $color-2;
                }
                &#benefit-2 {
                    color: $color-6;
                }
                &#benefit-3 {
                    color: $color-5;
                }
            }

            h1 {
                font-size: $h3;
                padding-top: .5em;
            }
            p {
                font-size: $p;
                padding-top: 1em;
            }
        }
    }
}

.card-wrapper {
    padding-bottom: 5em;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;

    .card {
        background: $main-color;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        width: 20rem;
        height: 26rem;
        margin: 1rem;

        .btn {
            padding: 1rem 2rem;
            border-radius: 10px;
            margin: .5rem 0;
            text-transform: uppercase;
            color: $main-color;
            background: $button1-color;
            font-size: 1rem;
            text-decoration: none;

            &:hover {
                background: $button1-color-active;
                transition: .5s;
            }
        }

        h1 {
            font-size: 2em;
            color: $light-text-color;
        }
        p {
            font-size: 1rem;
            margin: 1rem;
            font-style: italic;
            text-align: center;
            color: $light-text-color;
        }
    }
}

.contact-me {
    padding: 10em;
    
    .form-area {
        width: 100%;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .contact-text {
            flex-basis: 30%;

            li {
                list-style: none;
                text-align: center;

                i {
                    font-size: 8em;
                    color: $color-5;
                    padding: 2rem;
                }
            }
            h1 {
                font-size: $h2;
            }
            p {
                font-size: $p;
                padding-top: 1em;
            }
        }
        .form-text {
            flex-basis: 60%;
            
            form {
                input {
                    width: 100%;
                    margin-top: 2em;
                    padding: 1em 0 1em 1em;
                    border: none;
                    border-bottom: 2px solid $color-6;
                    background-color: $main-color;
                    font-size: $p;
                }
                textarea {
                    width: 100%;
                    height: 10em;
                    margin-top: 2rem;
                    padding: 1em 0 1em 1em;
                    border: none;
                    border-bottom: 2px solid $color-6;
                    background-color: $main-color;
                    font-size: $p;
                }
                .btn {
                    padding: 1.25rem 3rem;
                    margin-top: 2em;
                    position: absolute;
                    border-radius: 10px;
                    text-transform: uppercase;
                    color: $dark-text-color;
                    background: $button1-color;
                    cursor: pointer;
                    font-size: 1rem;
                    text-decoration: none;
                    text-align: center;
            
                    &:hover {
                        background: $button1-color-active;
                        transition: .5s;
                    }
                }
            }
        }
    }
}

// Footer

footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3em;    
    background: $main-color;
    
    color: $light-text-color;
    font-size: 1em;
    text-align: center;
    line-height: 3em;
}

// Scaling
@media screen and (max-width: 952px) {
    nav a.logo {
        font-size: 2em;
        line-height: 2.5em;
        padding-left: 1.5em;
    }
    nav ul li a {
        font-size: 1em;
    }
    .hero-inner {
        padding: 7em 3em 10em 3em;
        
        .btn {
            margin-top: 3rem;
        }
    }
    .benefits {
        padding: 3em;
    }
}

@media screen and (max-width: 858px) {
    nav {
        position: fixed;

        label.check-btn {
            display: block;
        }
        a#projects-btn {
            opacity: 1;
        }
        ul {
            position: fixed;
            width: 100%;
            height: 100vh;
            background: $main-color;
            top: 5em;
            left: 100%;
            text-align: center;
            transition: all .5s;
        }

        & ul li {
            display: block;
            margin: 5em 0;
            line-height: 2em;
                
            a {
                font-size: 1.5em;
    
                &.active, &:hover {
                    background: $accent-color;
                    transition: .5s;
                }
            }
        }

        #check:checked ~ ul{
            left: 0;
        }
    }

    .hero-inner {
        padding: 8rem 3rem 5rem 3rem;
        font-size: .8rem;
        
        h1 {
            & span#carousel-1::before {
                content: 'robust ';
                animation: none;
            }
            & span#carousel-2::before {
                content: 'platforms.';
                animation: none;
            }
        }

        p {
            display: none;
        }
        
        .btn {
            padding: .7rem 1.5rem;
            margin-top: 1rem;
        }
    }
    .benefits {
        ul {
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            
            li {
                font-size: .8rem;
                max-width: 100%;

                i {
                    font-size: 4em;
                }
            }
        }  
    } 
    .contact-me {
        padding: 8rem 3rem 8rem 3rem;

        .form-area {
            flex-direction: column;

            .contact-text, .form-text {
                padding: 0;
            }
        }
    }
}

@media screen and (min-width: 858px) {
    .card-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .card {
            margin: 2rem;
            transition: transform .5s;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        .card:nth-child(1) {
            animation: fadeIn .5s .25s backwards;
        }
        .card:nth-child(2) {
            animation: fadeIn .5s .5s backwards;
        }
        .card:nth-child(3) {
            animation: fadeIn .5s .75s backwards;
        }
        .card:hover {
            transform: scale(1.1);
        }
    }
}